@media (max-width : 1300px) {
    .header-part {
        width: 90vw;
    }

    .logo-box img {
        width: 150px;
        height: 120px;
    }

    .flex {
        /* display:none; */
        flex-direction: column;
    }

    .text-white {
        font-size: 25px;
    }

    .fl-gap {
        gap: none;
    }


}

@media (max-width:1000px) {
    .header-part {
        width: 90vw;
    }
    
    .devpic img {
        height: 58vh;
        opacity: 1;
         
    }

}
